// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$primaryBg: linear-gradient(to right, #CC00CC 47.02%, #6600FF);
$primaryBtn: linear-gradient(to right, #3F41E2 47.02%, #7917F8);


html{	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	background-color: white;
	letter-spacing: 1px;
}

 
nav{
	transition: all 0.5s
}

.scrollUp{
	transform: translateY(-80px)
}

.ncol{
 color: black !important;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

b, strong{
	font-weight: 800;
}


section{
	padding-top: 5rem;
	padding-bottom: 5rem;
}



.btn-BAL{
	background-image: $primaryBtn;
	color: white;
	border-radius: 0.5rem;
	&:hover{
		color: white ;
		font-weight: bolder;
	}
}

.section1{
	height: 100vh;
	background-image: url('/images/main-bg.png'), $primaryBg;
	.container {
		max-width: 1500px;
	}
	.video-text{
		vertical-align: super;
	}


}


.section2{
	background-color: #ffffff;
	.card-contents{
		margin-top: 1.5rem;
		h5{
			background: $primaryBtn;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}


.section3{
	height: 100vh;
	background-image: url('/images/trial-bg.png');
	background-size: cover;
	background-position: center;
	padding-bottom: 3rem !important;

}


.section4{
	h4{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}


.section5{
	background-color: #F4F9FF;
}


.section6{
	h4{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}


.section7{
	background-image: $primaryBtn;
}



.downloadsection {
	background-image: url('/images/download-bg.png');
	background-size: 100%;
	background-position: center;
	height: 500px;
	.buttons{
		width: 600px;
	}
	.btn{
		border-radius: 0.5rem;
	}
	.btn-BAL{
		background: $primaryBtn;
		color: white;
		font-size: 14px;
		height: 50px;
		width: 100%;
		padding-top: 12px;
		&:hover {
			color: white;
		}
	}
}


.section8{
	.col-9{
		p{
			font-size: 12px;
		}
	}

	.buyer {
		border-radius: 10px 0px 0px 10px;
	}
	.seller {
		border-radius: 0px 10px 10px 0px;
	}
	
	.nav-link.active{
		background-image: $primaryBtn;
		color: white;
	}
	
	.nav-link{
		border: 3px solid #7917F8;
		text-align: center;
		color: black;
	}
}

.section9{
	h3, h4{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	.card{
		border: 3px solid #7917F8;
	}
	
	.pricing-header {
		border-radius: 0px;
		background-image: $primaryBtn;
	}

	.nav-link.active{
		background-color: white;
		color: black;
	}

	.nav-link{
		color: white;
	}
}




.bg-BAL{
	background-image: $primaryBtn;

}

.section10{
	.nav-pills .nav-link {
		border-radius: 0px;
	}

	.nav-link.active{
		background-image: $primaryBtn;
		color: white;
	}
	
	.nav-link{
		border: 3px solid #7917F8;
		text-align: center;
		color: black;
	}
	
	.trial {
		border-radius: 10px 0px 0px 10px !important;
	}
	.home{
		border-radius: 0px;
	}
	.tower{
		border-radius: 0px;
	}
	.finder {
		border-radius: 0px 10px 10px 0px !important;
	}
}

.section11{
	h3, h5{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.btn-BAL{
		width: 100%;
		border: 3px solid #7917F8;
		background-image: none;
		color: #7917F8;
		border-radius: 0.5rem;
		&:hover{
			background-color: #7917F8;
			color: white;
			font-weight: bolder;
		}
	}
}




.package-link{
	text-decoration: none;
}
.package-one{
	background: url('/images/LightFinder.jpg');
	height: 160px;
	background-size: cover;
}

.package-two{
	background: url('/images/MyHome.jpg');
	height: 160px;
	background-size: cover;
}

.package-three{
	background: url('/images/MyTower.jpg');
	height: 160px;
	background-size: cover;
}

.best-pick{
	position: absolute;
    height: 30px;
    top: 10%;
    text-align: center;
    border: 1px solid  #5555A4;
    border-left:none;
    border-right:none;
}

.card-my-tower{
	width: 100%;
}

.card-my-home{
	width: 100%;
}


.card-trial{
	width: 100%;
}


.card-mini{
	height: 100%;
	width: 100%;
}

.card-standard{
	height: 100%;
	width: 100%;
}

.card-premium{
	height: 110%;
	box-shadow: 0px 0px 10px 0px #545454;
    width: 100%;
}


.trial-list {
  list-style: none;
  padding-left: 15px;
}

.trial-list li{
 margin-top: 10px;

}


.card-my-tower-summary{
	width: 370px;
}

.card-my-home-summary{
	width: 370px;
}


.card-trial-summary{
	width: 370px;
}


.card-mini-summary{
	height: 100%;
	position:relative;
	top: 5%;
	left: 1%;
	width: 370px;
}

.card-standard-summary{
	height: 100%;
	position:relative;
	top: 5%;
	right: 1%;
	width: 370px;
}

.card-premium-summary{
	height: 110%;
	box-shadow: 0px 0px 10px 0px #545454;
    z-index: 1;
    width: 370px;
}

.section-9-hr{
	background-color: black;
	margin-right: 438px;

}

.w-60{
	width: 60%;
}

.w-65{
	width: 65%;
}

.trial-height{
	height: 250px
}

.pt-height{
	height: 335px;
}

.pills-all{
	display: flex;
	justify-content: center;

}

.section-10-img{
	width: 345px;
    height: 225px;
}


.seller-faq{
 	height: 100%;
 	padding-top:100px;
}

.buyer-faq{
	height: 100%;
	padding-top:100px;
}

.intro-faq{
	height: 45vh;
	background:url('/images/faq_bg.png');
	background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.intro-contact {
	height: 45vh;
	background: url('/images/faq_bg.png');
	background-size: cover;
    background-position-y: center;
    background-position-x: center;
}


.contact{
 	height: 100%;
 	padding-top:100px;
}


.contact-form-container{
	position: relative;
}

.formBox{
	padding: 50px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: left;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 20px;
}
 .formBox p {
 	margin-bottom: 50px;
 }

.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 35px;
}
.inputBox .inputText{
	position: absolute;
    font-size: 12px;
    line-height: 0px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 12px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    margin-top:10px;

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;

}
textarea{
	height: 100px !important;
}


.location{
	padding: 20px;
	padding-top:50px;
}


.intro-investor{
	background: url('/images/investor.png');
	background-size:100%;
	height: 45vh;
}


.intro-seller{
	background: url('/images/seller_bg.png');
	height: 45vh;
}


.videos{
	background: #5555a40a;
}

.english{
	height: 150px;
	background:url('/images/english.jpg');
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background-size: 100%;
	background-position-y: 85%;
}

.chinese{
	height: 150px;
	background:url('/images/chinese.jpg');
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background-size: 100%;
	background-position-y: 55%;
}

 .ieo-coming-soon{
 	background: url('/images/ieo-coming-soon.png');
 	height:1000px;
 	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
 }

// footer{
// 	height: 100%;
// }

.footer-list{
	font-size:13px;
	list-style-type: none;
}

.one-brand{
	width: 64px;
 	-webkit-filter: grayscale(100%);
  	-moz-filter: grayscale(100%);
  	-ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: grayscale(100%);
}

.one-link{
	font-size: 20px;
}

.one-pay{
	font-size: 30px;
}

.text-grey{
	color: grey;
}

.bg-black{
	background-color: #000;
}

.bg-white{
	background-color: #fff !important;
}

.half-width{
	width: 49.91%
}


.text-BAL{
	color: #5555A4;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}


.eupopup-body {
	text-align: left;
	width: 60%;
    margin: auto;	
}




#balvsretail {
	.card-img {
		margin-top: 10px;
	}
	.other-inter-brands {
	    margin-bottom: 0;
	    border: 1px solid;
	    border-radius: 5px;
	    line-height: 1.2em;
	    padding: 5px;
	    font-size: 0.9em;
	}
}

.hide_group {
  display: none !important;
}

@media  screen and (max-width: 1366px) {
    .about-img{
    	width: 60%
    }

    .all-cards{

    		top: -10px;

    }

    .trial-btn-link{
    		top: -5px !important;

    }
}

