// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$primaryBg : linear-gradient(to right, #030026 65.03%, #3e007f);
$primaryBtn : linear-gradient(to right, #3F41E2 52.29%, #3C8AF7);
$SecondaryColor :  linear-gradient(to right, #3F41E2 52.29%, #7917F8);


$background: #3FE7EF;

$color-primary: #3FE7EF;
$color-light: white;
$color-dim: #6c6d6d;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 15px;
$line: 4px;



* {
	outline: none !important;
}

html{	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
	background-image: $primaryBg;
	color: white;
	letter-spacing: 0.25px;
}

nav{
	transition: all 0.5s
}

.navbar-nav{
	height: 100vh;
}

.scrollUp{
	transform: translateY(-80px)
}

.btn-black{
	background-color: #000;
    border-color: #000;
}

nav .dropdown-toggle::after {
    display:none;
}

.navbar-collapse {
    position: absolute;
    top: 54px;
    right: -100%;
    width: 100%;
    transition: all 0.4s ease;
    display: block;
   	opacity: 0.8;
}
.navbar-collapse.collapsing {
    height: auto !important;
    right: -100%;
    margin-left: 1px;
    transition: all 0.2s ease;
    opacity: 0.9;
}

.navbar-collapse.show {
    margin-right: 100%;
    transition: all 0.2s ease;
    opacity: 1;
}


.navbar-nav{
	margin-left: 40%;
}

.filter{
	filter: blur(3px);
}


.navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}

.bg-black{
	background: black !important;
}

.btn-BAL{
	background: $primaryBtn;
	color: white;
	font-size: 11.892px;
	&:hover {
		color: white;
	}
}

.btn{
	border-radius: 1.5rem;
}

.btn-round{
	border-radius: 20px;
}


.section1{
	height:100vh;
	margin-top: 4rem;
}

.section3{
	.card{
		background-image: $primaryBtn;
	}
	.progress{
		height: 2rem;
		border-radius: 1.5rem;
	}
	.progress-bar{
		background-image: linear-gradient(to right, #3F10BD 52.59%, #D817F8);
		border-radius: 1.5rem;
		border: 1px solid white;
	}

	#days1 {
		background: #3249B5;
		padding: 5px;
		border-radius: 10px;
	}

	#hours1 {
		background: #3249B5;
		padding: 5px;
		border-radius: 10px;
	}

	#minutes1 {
		background: #3249B5;
		padding: 5px;
		border-radius: 10px;
	}


	#seconds1 {
		background: #3249B5;
		padding: 5px;
		border-radius: 10px;
	}
}

.section4{
	padding-bottom: 0px;
	.all-videos {
		display: flex;
		a {
			width: 100%;
			height: 100%;
			overflow: hidden;
			margin-right: 10px;
			padding: 0;
			border: 0;
		}
	}
	p{
		line-height: 30.59px;
		color: #A789DD;
	}
}

.section5{
	padding-top: 0px;
	.card{
		border-radius: 2.25rem;
	}

	.card-body{
		height: 150px;
		border: 1px solid #A789DD;
		background-color: transparent;
	}

	.benefit-text{
		color: #A789DD;
	}

	i {
		color: #A789DD;
	}
}

.section6{
	.card{
		background-image: $SecondaryColor;
		width: 100%;
		height: 93px;
		border-radius: 1rem;
	}
}

.section7{
	.input-group-text{
		width: 100%; 
		border-radius: 20px;
		position: relative; 
		left: 15px; 
		z-index: 1;
	
	} 

	.token-info{
		background-image: $SecondaryColor; 
		border-radius: 20px; 
		height: 70px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}	
	
	.card{
		background-color: transparent !important;
	}

	.token-value{
		border-radius: 20px; 
		background-color: transparent;
		border: 3px solid #7917F8;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		padding:32px;
	}

	.bal-token{
		background-image: $SecondaryColor; 
		width: 100%;
		border-radius: 20px;
		position: relative;
		left: 15px;
		z-index: 1;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border: none;
	}

	.bal-token-input{
		background-color: transparent;
		border: 3px solid #7917F8;
		height: 70px; 
		border-top-right-radius: 20px; 
		border-bottom-right-radius: 20px;
		height: 70px; 
		border-top-right-radius: 20px; 
		border-bottom-right-radius: 20px; 
		font-size: 15px; 
		color: white;
	}

	.bal-profit{
		border: 3px solid #7917F8;
	}

	select{
		background-color: transparent;
		border: 3px solid #7917f8;
		height: 50px;
		border-radius: 10px;
	}
	.btn-buy-token{
		background-image: $SecondaryColor; 
		height: 50px;
	}
	.add-token{
		border: 3px solid #7917f8;
	}
}

.section10{
	background-image: url('/images/ieo/roadmap-bg.png');
	background-position: -195px 0px;
	#timeline-content {
		margin-top: $spacing;
		text-align: center;  
	  }
	.timeline1 {
		border-left: $line solid $color-primary;
		border-bottom-right-radius: $radius;
		border-top-right-radius: $radius;    
		margin: $spacing 0px;
		letter-spacing: 0.5px;   
		position: relative;
		line-height: 1.4em;
		font-size: 1.03em;   
		padding: $spacing;   
		list-style: none;
		text-align: left;  
		font-weight: 100;  
		max-width: 30%; 
		
		h1 {
		 letter-spacing: 1.5px;
		 font-weight: 100;
		 font-size: 1.4em;    
		}
		
		h2, h3 {
		 letter-spacing: 1.5px;
		 font-weight: 400;
		 font-size: 1.4em;
		}
		
		.event {
		  padding-bottom: ($spacing * 0.5);
		  margin-bottom: $spacing;  
		  position: relative;
		  width: 235px;
	  
		  &:last-of-type { 
			padding-bottom: 0;
			margin-bottom: 0; 
			border: none;      
		  }
	  
		&:before, &:after {
			position: absolute;
			display: block;
			top: 0;
		  }
	  
			&:after {
				box-shadow: 0 0 0 $dotborder rgba($color-primary, 1);    
				left: ($spacing + $line + ($dot * 0.35)) * -1;        
				background: #030026;    
				border-radius: 50%;  
				height: $dot;
				width: $dot;
				content: "";
				top: 5px;
			}
		}
	}
}


.mv-img{
  background: -webkit-linear-gradient( right, #E23D96, #5555A4);
  padding: 8px;
}

.yt{
    position: relative;
    bottom: 30px;
    left: 0px;
    font-size: 13px;
}

#token-info td, #token-info th {
  // border: 1px solid #ddd;
  padding: 20px;
  padding-left:10px;
  padding-right:10px;
}

#token-info tr:nth-child(odd){
	background-color:#5555A4;
	border-radius:10px;
	color: white;

}



.btn{
	border-radius:1.5rem;
}

#token-info{
	 td:first-child { border-top-left-radius: 10px; }
	 td:first-child { border-bottom-left-radius: 10px; }

	 td:last-child { border-top-right-radius: 10px; }
	 td:last-child { border-bottom-right-radius: 10px; }
}



.token-list {
  list-style: none;
  padding-left: 15px;
}

.text-1{
    color: #754a73;
}
.text-2{
    color: #f0c40f;
}
.text-3{
    color: #8f44ac;
}
.text-4{
    color: #e77d22;
}
.text-5{
    color: #c1392b;
}
.text-6{
     color: #ff2537;
}
.text-7{
    color: #34bad1;
}

// .team-img{
//     width: 40%;
//     background: white;
//     padding: 10px;
// }

.section14{
	.nav-link.active{
		background-color: #A789DD;
		color: white;
	}
	.nav-link{
		border: 3px solid #A789DD;
		color: white;
		width: 115px;
		text-align: center;
	}
	.team {
		border-radius: 10px 0px 0px 10px;
	}
	.advisory {
		border-radius: 0px 10px 10px 0px;
	}
	.team-img{
		filter: grayscale(100%);
		width: 90px;
		height: 90px;
		background: white;
		padding: 10px;
		background-size: cover;
		background-position: center;
		margin: auto;
		position: relative;
	}
	.linkedin {
		position: absolute;
		right: -25px;
		bottom: -15px;		
	}
	
	.advisor-text{
		display: none;
	}
}




.map-list{
    list-style: none;
}

.timeline {

  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.li {

  transition: all 200ms ease-in;
}

.timestamp {

  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;  

}
  .one-map {
      &:before {

        content: '';
        width: 25px;
        height: 25px;
        background: -webkit-linear-gradient( right, #E23D96, #5555A4);
        border-radius: 25px;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in; 

      }
  }
.li.complete
  .status {
    border-top: 2px solid #969696;
   &:before {
      background-color: #66DC71;
      border: none;
      transition: all 200ms ease-in; 

  }
}



.timeline{
    font-size: 13px;
}

.grecaptcha-badge{
    visibility: collapse !important;  
}





.roadmap {

	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
    font-size: 13px;
    padding: 0;

	.slick-slide {
		outline: none;	

		ul.map-list {
			li > ul {
				list-style-type: disc;
			}
		}
	}
	
	.roadmap-group {
		display: flex;
		.roadmap-item {

		}
	}

	.li.complete {
		display: flex;
		justify-content: center;
	}

	.one-map:before {
	    left: 46%;
	}	
}



.videos{
		background-color: white;
		border: 2px solid;
		padding: 10px;
		border-radius:25px;
		.video-btn {
			// position: absolute;
			// bottom:110px;
		}
	}


.text-BAL{
	color: #5555A4;
}


.vision-mission {
	.video {
		width: 90%;
    border-radius:35px;
	}
}


.btn-ieo-left {
    background: -webkit-linear-gradient(right, #9a1e61, #5555A4);
	font-size: 0.9em;
    a { color: white; }

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 0;
    border-left: 1px solid #fff;
}
.btn-ieo-middle {
    background-color: #9a1e61;
    color: white;	
    font-size: 0.9em;
    a { color: white; }

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 0;
    border-left: 0;
}
.btn-ieo-right {
    background: -webkit-linear-gradient(left, #9a1e61, #5555A4);
    color: white;	
    font-size: 0.9em;
    a { color: white; }

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 0;
}


.video-btn{
	height: 40px;
	a {
		font-size: 1.5em;
	}
}

.section-1 {
	// height: 100vh;
	// min-height: 720px;
	// min-height: 680px;
}

.section-1-bg {
	// background: url('/images/mobile_bg/ieo/1.png');
	// height: 100vh;
	height: 100%;
	background-size: cover;
	> .container {
		// padding-bottom: 200px;
		// padding-bottom: 220px;
	}
}



.countdown-ring-cont {
    margin: auto;	
    // margin-top: -165px;	
    margin-top: -180px;	
    text-align: center;
}
.countdown-ring-1 { 
    height: 330px;
    width: 330px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;	

}
.countdown-ring-2 { 
    height: 315px;
    width: 315px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: auto;	
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.countdown{
	height: 300px;
    width: 300px;
	border-radius: 50%;
	border: white 7px  solid;
    position: relative;
    margin: auto;	

	// background-color: #510091;
	background-image: linear-gradient(to right, #791f50, #5555A4);

	.countdown-bottom-img {
		width: 100%;
	}

	#timer {
		border-radius:40px;

		.timer-item {
			color: #fff;
			background-color: #F511A9;
			padding: 5px 0px 0px 0px;
			width: 45px;
			margin: 2px;
			border: 1px solid #fff;

			span:nth-child(1) {
				font-size: 13px !important;
				font-weight: bold;
				margin-left: 5px;
			}

			// br:nth-child(2) {
			// 	display: none;
			// }

			span:nth-child(3) {
				font-size: 8px;
				font-weight: normal;
			    display: block;
			    width: 100%;
			    background-color: #a90c74;
			    padding: 3px 0;
			}
		}
	}
}



.section16{
	.card{
		background-image: $SecondaryColor;
	}
	input{
		background-color: transparent;
		color: white;
	}
	.btn-BAL{
		background: white;
		color: #3249B5;
	}
}






.eupopup-body {
	text-align: justify;
    margin-top: 10px;
}









#partners {
    background-size: auto;
    background-position: center;	
	.partner {
		margin-top: 30px;
		margin-bottom: 25px;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;		
		img {
		    max-width: 90%;
		    max-height: 100px;			
		}
	}

	.sponsored_fair {
		h2, h5 {
		    display: inline-flex;
		    margin-top: 15px;		    
		    margin-bottom: 5px;		    
		}
		.icons {			
			display: flex;
			align-items: center;
			justify-content: space-around;		
			flex-wrap: wrap;
			a {
				display: inline-flex;
			    align-items: center;
			    justify-content: center;				
				width: 100%;
				padding: 0 10px;
				img {
				    // width: 100%;
					width: auto;
					max-width: 100%;			        
			        margin-bottom: 20px;
				}
			}
		}
		.links {
			a {
				color: #fff;
			}
		}
	}	
} 



#sale-dates-price .card-header{
	/*background: linear-gradient(to right, #791f50, #5555A4); */
	/*background: linear-gradient(to right, #e4007b, #0000af); */
	background-color: #5555A4; 
	padding:10px;
}



/* The ribbons */
///////////////////////////////////////
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e01400;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

///////////////////////////////////////
/* The ribbons */










/* ribbon 2 */
///////////////////////////////////////
.ribbon {
    font-size: 20px;
    position: relative;
    display: inline-block;
    // margin:5em;
    text-align: center;
    // position: absolute;
    // bottom: 0;
    // right: -13px;
}

.text {
    display: inline-block;
    padding: 0.5em 1em;
    // min-width:20em;
    line-height: 1.2em;
    background: #d00600;
    position: relative;
    color: #fff;
    border-radius: 3px;
}

.ribbon:after,
.ribbon:before,
.text:before,
.text:after,
.bold:before {
    content: '';
    position: absolute;
    border-style: solid;
}

// .ribbon:before {
//     top: 0.3em;
//     left: 0.2em;
//     width: 100%;
//     height: 100%;
//     border: none;
//     background: #EBECED;

//     z-index: -2;
//     display: none;
// }

.text:before {
    top: 100%;
    left: 0;
    border-width: 0 1em 0.5em 0;
    border-color: transparent #000000 transparent transparent;

    z-index: -1;
}

.text:after {
    top: 100%;
    right: 0;
    // border-width: .5em 2em 0 0;
    // border-width: 0.6em 1em 0 0;
    border-width: 0 0 0.5em 1em;
    // border-color: #000000  transparent transparent transparent;
    border-color: transparent transparent transparent #000;

    z-index: -1;
}

.ribbon:before {
    top: 8px;
    left: -17px;
    border-width: 24px 0em 1.1em 36px;
    border-color: #b70500 transparent #b70500 #b70500;
    z-index: -2;
    border-radius: 3px 0px 0px 3px;
}
.ribbon:after {
    // top: 0.5em;
    // right: -2em;
    top: 8px;
    right: -17px;
    border-width: 24px 0em 1.1em 36px;
    border-color: #b70500 transparent #b70500 #b70500;
    z-index: -2;
    border-radius: 0px 3px 3px 0px;
}

.bold:before {
    border-color: #EBECED transparent #EBECED #EBECED;
    top: 0.7em;
    right: -2.3em;
    display: none;
}


.ribbon.small {
    font-size: 16px;
    width: 305px;
    position: absolute;
}
.ribbon.small:before {
	top: 8px;
    left: 30px;
	border-width: 17px 0em 1.1em 36px;
}
.ribbon.small:after {
	top: 8px;
    right: 30px;
	border-width: 17px 0em 1.1em 36px;    
}
///////////////////////////////////////
/* ribbon 2 */













// Timeline
////////////////////////////////////////////////////////////////
$timeline-color: #5555A4;
$timeline-color2: #fff;

i.timeline-icon {
	font-size: 40px; 
  color: $timeline-color2;
  border: 2px solid $timeline-color2;
  border-radius: 10px;
  padding: 10px;
  background-color: $timeline-color;
}

.ps-timeline-sec {
	position: relative;
	background: $timeline-color2;
  }
  .ps-timeline-sec .container {
	position: relative;
  }
  @media screen and (max-width: 767px) {
	.ps-timeline-sec .container ol:before {
	  background: $timeline-color;
	  content: "";
	  width: 10px;
	  height: 10px;
	  border-radius: 100%;
	  position: absolute;
	  top: 130px !important;
	  left: 36px !important;
	}
	.ps-timeline-sec .container ol:after {
	  background: $timeline-color;
	  content: "";
	  width: 10px;
	  height: 10px;
	  border-radius: 100%;
	  position: absolute;
	  top: inherit !important;
	  left: 36px;
	}
  
	.ps-timeline-sec .container ol.ps-timeline {
	  margin: 130px 0 !important;
	  border-left: 2px solid $timeline-color;
	  padding-left: 0 !important;
	  padding-top: 120px !important;
	  border-top: 0 !important;
	  margin-left: 25px !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li {
	  height: 220px;
	  float: none !important;
	  width: inherit !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
	  width: 70px;
	}
	// .ps-timeline-sec .container ol.ps-timeline li:last-child {
	//   margin: 0;
	//   bottom: 0 !important;
	//   height: 120px;
	// }
	// .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
	//   bottom: 40px !important;
	//   width: 40% !important;
	//   margin-left: 25px !important;
	//   margin-top: 0 !important;
	// }
	// .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
	//   width: 100%;
	// }
	// .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
	//   margin-bottom: 0 !important;
	//   top: 20px;
	//   width: 50% !important;
	// }
	.ps-timeline-sec .container ol.ps-timeline li span {
	  left: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
	  position: absolute !important;
	  bottom: 150px !important;
	  width: 30% !important;
	  float: left !important;
	  margin-left: 35px !important;
	  margin-bottom: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
	  margin: 0 auto !important;
	  width: 80% !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
	  position: absolute !important;
	  bottom: 115px !important;
	  width: 30% !important;
	  float: left !important;
	  margin-left: 35px !important;
	  margin-bottom: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li p {
	  text-align: left !important;
	  width: 100% !important;
	  margin: 0 auto !important;
	  margin-top: 0px !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .ps-top {
	  width: 60% !important;
	  float: right !important;
	  right: 0;
	  top: -40px;
	}
	.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
	  width: 60% !important;
	  float: right !important;
	  right: 0;
	  top: -40px;
	}
  }
  .ps-timeline-sec .container ol:before {
	background: $timeline-color;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: 8px;
	top: 49.5%;
  }
  .ps-timeline-sec .container ol:after {
	background: $timeline-color;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	right: 8px;
	top: 49.5%;
  }
  .ps-timeline-sec .container ol.ps-timeline {
	margin: 390px 0;
	padding: 0;
	border-top: 2px solid $timeline-color;
	list-style: none;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
	float: left;
	width: 25%;
	padding-top: 30px;
	position: relative;
  }
  .ps-timeline-sec .container ol.ps-timeline li span {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: #fff;
	border: 4px solid $timeline-color;
	border-radius: 50%;
	box-shadow: 0 0 0 0px #fff;
	text-align: center;
	line-height: 50px -10;
	color: #df8625;
	font-size: 2em;
	font-style: normal;
	position: absolute;
	top: -26px;
	left: 50%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
	content: '';
	color: $timeline-color;
	width: 2px;
	height: 50px;
	background: $timeline-color;
	position: absolute;
	top: -50px;
	left: 50%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
	content: '';
	color: $timeline-color;
	width: 8px;
	height: 8px;
	background: $timeline-color;
	position: absolute;
	bottom: 90px;
	left: 44%;
	border-radius: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
	content: '';
	color: $timeline-color;
	width: 2px;
	height: 50px;
	background: $timeline-color;
	position: absolute;
	bottom: -50px;
	left: 50%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
	content: '';
	color: $timeline-color;
	width: 8px;
	height: 8px;
	background: $timeline-color;
	position: absolute;
	top: 90px;
	left: 44%;
	border-radius: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
	position: absolute;
	bottom: 0;
	margin-bottom: 130px;
	width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
	display: table;
	margin: 0 auto;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
	position: absolute;
	margin-top: 60px;
	width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
	display: table;
	margin: 0 auto;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
	text-align: center;
	width: 80%;
	margin: 0 auto;
  
	text-align: left;
	color: #fff;
	margin-bottom: 10px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
	position: absolute;
	bottom: 0;
	margin-bottom: 100px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
	position: absolute;
	margin-top: 35px;
  }
  
  
  
  /* tawing */
  // .ps-timeline-sec .container ol:before,
  // .ps-timeline-sec .container ol:after {
	//   display: none;
	//   top: -9px;
	//   width: 20px;
	//   height: 20px;	
  // }
  
  // .ps-timeline-sec .container ol.first-item:before {
	//   display: block;
  // }
  
  // .ps-timeline-sec .container ol.last-item:after {
	//   display: block;
  // }
  
  .ps-timeline-sec{
	  background-color: transparent;
	  width: 100%;
  }
  
  .ps-timeline-sec .container ol.ps-timeline li p {
	  font-size: 13px;
  }
  
  .ps-timeline-sec .container ol.ps-timeline li span {
	  font-size: 1em;
	  line-height: 3.3em;
  }

	// .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler {
  //   position: absolute !important;
  //   margin-top: 60px !important;
  //   width: 40% !important
  //   img {
  //     margin: 0 auto !important;
  //     width: 80% !important;
  //   }
  // }  
  
  .ps-timeline-sec .container ol:before {
    top: 0px !important;    
    left: 11px !important;
  }
  .ps-timeline-sec .container ol:after {
    left: 11px !important;
  }


  .ps-timeline-sec .container ol.ps-timeline {
    margin: 25px 0 !important;
  }

  // .ps-timeline-sec .container ol.ps-timeline li:last-child {
  //   height: 220px;
  //   top: -40px;
  //   width: 60% !important;
  // }

  .ps-timeline-sec .container ol.ps-timeline li {
    // height: 255px;    
  }



  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
      top: -95px;    
  }




	// .ps-timeline-sec .container ol.ps-timeline li:last-child {
	//   margin: 0;
	//   bottom: 0 !important;
	//   height: 120px;
	// }

	.ps-timeline-sec .container ol.ps-timeline li:last-child {
    height: 100px;
    .img-handler {
      bottom: 20px !important;      
    }
    .img-handler-top {
      // margin-left: -25px !important;
    }
  }




///////////////////////////////
//////////////////////////////////////////////
.ps-timeline-sec .container ol.ps-timeline {
  padding-top: 10px !important;
  border-left: 2px solid $timeline-color2;
}

.ps-timeline-sec .container ol.ps-timeline li {
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  height: auto;
  padding-bottom: 20px;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
  position: relative !important;
  top: 0;
  bottom: 0 !important;
  margin-bottom: 0 !important;  
  margin-left: 10px !important;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-top {
  position: relative;
  top: 0;
  bottom: 0;
  margin-bottom: 0 !important;  
  margin-left: 10px !important;
}

.ps-timeline-sec .container ol.ps-timeline li span {
  position: relative;
  bottom: 0;
  top: 0;  
  display: inline-flex;
  justify-content: center;
  align-items: center;  
  width: 52px;
  height: 50px;
  background-color: $timeline-color;
  color: $timeline-color2;
  border-color: $timeline-color2;
}
.ps-timeline-sec .container ol.ps-timeline li:last-child {
  height: auto;
}

.ps-timeline-sec .container ol:after,
.ps-timeline-sec .container ol:before {
  background-color: $timeline-color2;
}
//////////////////////////////////////////////
///////////////////////////////



  












































////////////////////////////////////////////////////////////////
// Timeline




@media only screen and (min-width: 320px) and (max-width: 374px){
	.section1{
		height:100%;
		margin-top: 4rem;

	}
}






