// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$primaryBg : linear-gradient(to right, #030026 65.03%, #3e007f);
$primaryBtn : linear-gradient(to right, #3F41E2 52.29%, #3C8AF7);
$SecondaryColor :  linear-gradient(to right, #3F41E2 52.29%, #7917F8);


$background: #3FE7EF;

$color-primary: #3FE7EF;
$color-light: white;
$color-dim: #6c6d6d;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 15px;
$line: 4px;





html{	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15.5px;
	background-image: $primaryBg;
	color: white;
	letter-spacing: 0.25px;
}

nav{
	transition: all 0.5s
}

.scrollUp{
	transform: translateY(-80px)
}

.ncol{
 color: black !important;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

.btn-BAL{
	background: $primaryBtn;
	color: white;
	font-size: 11.892px;
	&:hover {
		color: white;
	}
}

.btn{
	border-radius: 0.5rem;
}

section{
	padding-top: 75px;
	padding-bottom: 75px;
}



.section1 {
	background-image: url('/images/ieo/ieo-bg.png'), $primaryBg;
	height: 100vh;
	background-position: right;
    background-repeat: no-repeat;
	background-size: 65%, 100%;
	.container{
		max-width: 1500px;
	}
	p{
		line-height: 25.496px;
	}
	img{
		position: absolute;
		right: 40px;
		top: -60px;
		width: 110%;
	}
}

.section2{
	background-image: $primaryBg;
}

.section3{
	.col-md-8{
		.card{
			background-image: $SecondaryColor;
		}
	}

	.col-4:last-child{
		.card{
			background-image: $SecondaryColor;
		}
	}
	.card{
		background-image: $primaryBtn;
	}
	.progress{
		height: 2rem;
		border-radius: 1.5rem;
	}
	.progress-bar{
		background-image: linear-gradient(to right, #3F10BD 52.59%, #D817F8);
		border-radius: 1.5rem;
		border: 1px solid white;
	}

	#days1 {
		background: #3249B5;
		padding: 10px;
		border-radius: 10px;
	}

	#hours1 {
		background: #3249B5;
		padding: 10px;
		border-radius: 10px;
	}

	#minutes1 {
		background: #3249B5;
		padding: 10px;
		border-radius: 10px;
	}


	#seconds1 {
		background: #3249B5;
		padding: 10px;
		border-radius: 10px;
	}
}

.section4{
	padding-bottom: 0px;
	.all-videos {
		display: flex;
		a {
			width: 100%;
			height: 100%;
			overflow: hidden;
			margin-right: 10px;
			padding: 0;
			border: 0;
		}
	}
	p{
		line-height: 30.59px;
		color: #A789DD;
	}
}

.section5{
	padding-top: 0px;
	padding-bottom: 0px;
}

.section6{
	padding-top: 0px;
	.card{
		border-radius: 2.25rem;
	}

	.card-body{
		height: 150px;
		border: 1px solid #A789DD;
		background-color: transparent;
	}

	.benefit-text{
		color: #A789DD;
	}

	i {
		color: #A789DD;
	}
}


.section7{
	.card{
		background-image: $SecondaryColor;
		width: 140px;
		height: 93px;
		border-radius: 1rem;
	}
}


.section8{
	.input-group-text{
		width: 100%; 
		border-radius: 20px;
		position: relative; 
		left: 15px; 
		z-index: 1;
	
	} 

	.token-info{
		background-image: $SecondaryColor; 
		border-radius: 20px; 
		height: 70px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}	
	
	.card{
		background-color: transparent !important;
	}

	.token-value{
		border-radius: 20px; 
		background-color: transparent;
		border: 3px solid #7917F8;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		padding:32px;
	}

	.bal-token{
		background-image: $SecondaryColor; 
		width: 100%;
		border-radius: 20px;
		position: relative;
		left: 15px;
		z-index: 1;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border: none;
	}

	.bal-token-input{
		background-color: transparent;
		border: 3px solid #7917F8;
		height: 70px; 
		border-top-right-radius: 20px; 
		border-bottom-right-radius: 20px;
		height: 70px; 
		border-top-right-radius: 20px; 
		border-bottom-right-radius: 20px; 
		font-size: 15px; 
		color: white;
	}

	.bal-profit{
		border: 3px solid #7917F8;
	}

	select{
		background-color: transparent;
		border: 3px solid #7917f8;
		height: 50px;
		border-radius: 10px;
	}
	.btn-buy-token{
		background-image: $SecondaryColor; 
		height: 50px;
	}
	.add-token{
		border: 3px solid #7917f8;
	}
}


.downloadsection {
	background-image: url('/images/ieo/ieo-bg(3).png');
	background-size: 100%;
	background-position: center;
	height: 500px;
	.buttons{
		width: 600px;
	}
	.btn{
		border-radius: 0.5rem;
	}
	.btn-BAL{
		background: $SecondaryColor;
		color: white;
		font-size: 14px;
		height: 50px;
		width: 100%;
		padding-top: 12px;
		&:hover {
			color: white;
		}
	}
}

.section9{
	.vision-mission {
		.video {
			width: 70%;
			border-radius: 35px;
		}
	}
}

.section10{
	background-image: url('/images/ieo/why-bg.png');
	background-repeat: no-repeat;
    background-position: center;
	p{
		color: #A789DD;
	}
}


.section11{
	background-image: url('/images/ieo/roadmap-bg.png');
	#timeline-content {
		margin-top: $spacing;
		text-align: center;  
	  }
	.timeline1 {
		border-left: $line solid $color-primary;
		border-bottom-right-radius: $radius;
		border-top-right-radius: $radius;    
		margin: $spacing auto;  
		letter-spacing: 0.5px;   
		position: relative;
		line-height: 1.4em;
		font-size: 1.03em;   
		padding: $spacing;   
		list-style: none;
		text-align: left;  
		font-weight: 100;  
		max-width: 30%; 
		
		h1 {
		 letter-spacing: 1.5px;
		 font-weight: 100;
		 font-size: 1.4em;    
		}
		
		h2, h3 {
		 letter-spacing: 1.5px;
		 font-weight: 400;
		 font-size: 1.4em;
		}
		
		.event {
		  padding-bottom: ($spacing * 0.5);
		  margin-bottom: $spacing;  
		  position: relative;
		  width: 300px;
	  
		  &:last-of-type { 
			padding-bottom: 0;
			margin-bottom: 0; 
			border: none;      
		  }
	  
		&:before, &:after {
			position: absolute;
			display: block;
			top: 0;
		  }
	  
		  &:before {
				left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;    
				color: fade($color-light, 40%);    
				content: attr(data-date);
				text-align: right;
				font-weight: 100;    
				font-size: 0.9em;
				min-width: $date;
			}
	  
			&:after {
				box-shadow: 0 0 0 $dotborder rgba($color-primary, 1);    
				left: ($spacing + $line + ($dot * 0.35)) * -1;        
				background: #030026;    
				border-radius: 50%;  
				height: $dot;
				width: $dot;
				content: "";
				top: 5px;
			}
		}
	}
}


.section12{
	background-image: url('/images/ieo/ieo-bg(4).png');
	background-size: 100%;
	background-position: center;
}
.section13{
	.progress{
		border-radius:10px;
	}
	.progress-bar{
		border-radius:10px;
	}
}


.section15{
	.nav-link.active{
		background-color: #A789DD;
		color: white;
	}
	.nav-link{
		border: 3px solid #A789DD;
		color: white;
		width: 115px;
		text-align: center;
	}

	.team {
		border-radius: 10px 0px 0px 10px;
	}
	.advisory {
		border-radius: 0px 10px 10px 0px;
	}

	.team-img{
		filter: grayscale(100%);
		width: 90px;
		height: 90px;
		background: white;
		padding: 10px;
		background-size: cover;
		background-position: center;
		margin: auto;
		position: relative;
	}
	
	.advisor-text{
		display: none;
	}



}

.moveup{
	position: relative;
	bottom: 300px;
}



.section17{
	// background-size: auto;
	background-size: cover;
	background-position: center;	
	.partner {
		margin-top: 30px;
		// margin-bottom: 25px;
		margin-bottom: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;		
		// img {
		// 	// max-width: 230px;
		// 	max-width: 100%;
		// 	width: 100%;
		// 	max-height: 100px;			
		// }
	}
	.sponsored_fair {
		// margin-top: -80px;
		h2,h5 {
			display: inline-flex;
			margin-bottom: 10px;	
			margin-top: 80px;
		    font-size: 26px;
		}
		.icons {			
			display: flex;
			// align-items: center;
			// justify-content: space-around;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;			
			a {
				display: inline-flex;
				align-items: center;
				// justify-content: flex-start;				
				justify-content: center;				
				// width: 50%;
				width: 100%;
				// padding: 0 10px;
				padding: 0;
				// margin-bottom: 20px;
				margin-bottom: 0px;
				// height: 150px;
				height: 105px;
				// img {
				// 	width: auto;
				// 	max-width: 270px;
				// 	max-height: 115px;
				// }
				img {
					max-width: 100%;
					width: auto;
					max-height: 100%;
					height: auto;
				}

				.small {
				    margin-top: 0;
				}

			}

			.icon {
			    width: 100%;
			    height: 100%;
			    background-size: contain;
			    background-position: center;
			    background-repeat: no-repeat;				
			}
		}

		.icons.listed {
			flex-wrap: wrap;
			img {
				max-width: none;
				max-height: 150px;
			}
		}

		.icons.marketing-partners {
			flex-wrap: wrap;
			img {
				// // max-width: 225px;
				// max-width: 100%;
				// width: auto;				
				// max-height: 150px;
			}

			img {
				max-width: 100%;
				width: auto;
				max-height: 100%;
				height: auto;
			}			
		}

		.links {
			h4 {
				width: 100%;
				padding-bottom: 0px !important;
				a:hover {
					text-decoration: none;
					text-shadow: 0px 0px 20px #fff;
				}
				a {
					color: #fff;
				}
			}			
		}
	}	
}


.text-1{
	color: #754973;
}
.text-2{
	color: #8f44ac;
}
.text-3{
	color: #ec0a83;
}
.text-4{
	color: #e77d22;
}
.text-5{
	color: #c1392b;
}
.text-6{
	 color: #ff2537;
}
.text-7{
	color: #34bad1;
}

// .team-img{
// 	width: 40%;
// 	background: white;
// 	padding: 10px;
// }


.linkedin {
	position: absolute;
	right: -25px;
	bottom: -15px;		
}




.map-list{
	list-style: none;
}


footer{
	height: 100%;
}

.footer-list{
	font-size:13px;
	list-style-type: none;
}

.one-brand{
	width: 64px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.one-link{
	font-size: 20px;
}

.one-pay{
	font-size: 30px;
}

.text-grey{
	color: grey;
}

.bg-black{
	background-color: #000;
}

.bg-white{
	background-color: #fff !important;
}

.bg-ieo{
	background: -webkit-linear-gradient( right, #E23D96, #5555A4);
}

.half-width{
	width: 49.91%
}


.text-BAL{
	color: #5555A4;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}









// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

.section18{
	height: auto;
	padding-bottom: 30px;
	background-image: url('/images/ieo/why-bg.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	input{
		height: 50px;
	}
	.form-control {
		background-color: #251B53;
		color: white;
		border: 1px solid #251B53;
	}
}

.section19{
	.card{
		background-image: $SecondaryColor;
	}
	input{
		background-color: transparent;
		color: white;
	}
	.btn-BAL{
		background: white;
		color: #3249B5;
	}
}





// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

@media  screen and (max-width: 1366px) {
		.section-1{
			// padding-top: 225px;
			// margin-bottom: 170px;
		}


}







 



.mt-10 {
	margin-top: 100px;
}













 



#jurisdiction {
	.jurisdiction_table {
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		width: 830px;
		border: 1px solid;
		border-radius: 10px;
		padding: 10px;
		background-color: #fff;
		color: #000;
		.items {
			padding: 10px;
			padding-left: 30px;
			width: 200px;
		}
	}

	a,
	a:hover {
		color: #fff;
		text-decoration: none;
	}

	a.terms:hover {
		color: #fff;
	}

	.terms {
		color: #fff;
		font-size: 0.8em;
		font-style: italic;
	}
}





/* The ribbons */
///////////////////////////////////////
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e01400;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

///////////////////////////////////////
/* The ribbons */

/* ribbon 2 */
///////////////////////////////////////
.ribbon {
    font-size: 20px;
    position: relative;
    display: inline-block;
    // margin:5em;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: -13px;
}

.text {
    display: inline-block;
    padding: 0.5em 1em;
    // min-width:20em;
    line-height: 1.2em;
    background: #d00600;
    position: relative;
    color: #fff;
    border-radius: 3px;
}

.ribbon:after,
.ribbon:before,
.text:before,
.text:after,
.bold:before {
    content: '';
    position: absolute;
    border-style: solid;
}

// .ribbon:before {
//     top: 0.3em;
//     left: 0.2em;
//     width: 100%;
//     height: 100%;
//     border: none;
//     background: #EBECED;

//     z-index: -2;
//     display: none;
// }
.ribbon:before {
    top: 0em;
    left: -10px;
    border-width: 1.1em 2.1em 1.1em 0.5em;
    border-color: #d00600 #d00600 #d00600 transparent;
    z-index: 0;
    display: none;
}

.text:before {
    bottom: 100%;
    left: 0;
    border-width: .5em .7em 0 0;
    border-color: transparent #ff0700 transparent transparent;
    display: none;
}

.text:after {
    top: 100%;
    right: 0;
    // border-width: .5em 2em 0 0;
    // border-width: 0.6em 1em 0 0;
    border-width: 0.5em 1em 0 0;
    border-color: #2f0100  transparent transparent transparent;

    z-index: -1;
}

.ribbon:after,
.bold:before {
    // top: 0.5em;
    // right: -2em;
    top: 8px;
    right: -8px;
    border-width: 24px 0em 1.1em 27px;
    border-color: #b70500 transparent #b70500 #b70500;
    z-index: -2;
    border-radius: 0px 3px 3px 0px;
}

.bold:before {
    border-color: #EBECED transparent #EBECED #EBECED;
    top: 0.7em;
    right: -2.3em;
    display: none;
}


.ribbon.small {
    right: 40px;
    font-size: 16px;
    bottom: 10px;
}
.ribbon.small:before {
	border-width: 17px 1.1em 1.1em 0.5em;
}
.ribbon.small:after {
	border-width: 20px 0em 1.1em 25px;
	top: 6px;
}
///////////////////////////////////////
/* ribbon 2 */












// Timeline
////////////////////////////////////////////////////////////////
$timeline-color: #5555A4;
$timeline-color2: #fff;


.ps-timeline-sec {
	position: relative;
	background: $timeline-color2;
  }
  .ps-timeline-sec .container {
	position: relative;
  }
  @media screen and (max-width: 767px) {
	.ps-timeline-sec .container ol:before {
	  background: $timeline-color;
	  content: "";
	  width: 10px;
	  height: 10px;
	  border-radius: 100%;
	  position: absolute;
	  top: 130px !important;
	  left: 36px !important;
	}
	.ps-timeline-sec .container ol:after {
	  background: $timeline-color;
	  content: "";
	  width: 10px;
	  height: 10px;
	  border-radius: 100%;
	  position: absolute;
	  top: inherit !important;
	  left: 36px;
	}
  
	.ps-timeline-sec .container ol.ps-timeline {
	  margin: 130px 0 !important;
	  border-left: 2px solid $timeline-color;
	  padding-left: 0 !important;
	  padding-top: 120px !important;
	  border-top: 0 !important;
	  margin-left: 25px !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li {
	  height: 220px;
	  float: none !important;
	  width: inherit !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
	  width: 70px;
	}
	.ps-timeline-sec .container ol.ps-timeline li:last-child {
	  margin: 0;
	  bottom: 0 !important;
	  height: 120px;
	}
	.ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
	  bottom: 40px !important;
	  width: 40% !important;
	  margin-left: 25px !important;
	  margin-top: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
	  width: 100%;
	}
	.ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
	  margin-bottom: 0 !important;
	  top: 20px;
	  width: 50% !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span {
	  left: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
	  content: none !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
	  position: absolute !important;
	  bottom: 150px !important;
	  width: 30% !important;
	  float: left !important;
	  margin-left: 35px !important;
	  margin-bottom: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
	  margin: 0 auto !important;
	  width: 80% !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
	  position: absolute !important;
	  bottom: 115px !important;
	  width: 30% !important;
	  float: left !important;
	  margin-left: 35px !important;
	  margin-bottom: 0 !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li p {
	  text-align: left !important;
	  width: 100% !important;
	  margin: 0 auto !important;
	  margin-top: 0px !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .ps-top {
	  width: 60% !important;
	  float: right !important;
	  right: 0;
	  top: -40px;
	}
	.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
	  width: 60% !important;
	  float: right !important;
	  right: 0;
	  top: -40px;
	}
  }
  .ps-timeline-sec .container ol:before {
	background: $timeline-color;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: 8px;
	top: 49.5%;
  }
  .ps-timeline-sec .container ol:after {
	background: $timeline-color;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	right: 8px;
	top: 49.5%;
  }
  .ps-timeline-sec .container ol.ps-timeline {
	margin: 295px 0;
	padding: 0;
	border-top: 2px solid $timeline-color;
	list-style: none;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
	float: left;
	width: 25%;
	padding-top: 30px;
	position: relative;
  }
  .ps-timeline-sec .container ol.ps-timeline li span {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: #fff;
	border: 4px solid $timeline-color;
	border-radius: 50%;
	box-shadow: 0 0 0 0px #fff;
	text-align: center;
	line-height: 50px -10;
	color: #df8625;
	font-size: 2em;
	font-style: normal;
	position: absolute;
	top: -26px;
	left: 50%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
	content: '';
	color: $timeline-color;
	width: 2px;
	height: 50px;
	background: $timeline-color;
	position: absolute;
	top: -50px;
	left: 50%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
	content: '';
	color: $timeline-color;
	width: 8px;
	height: 8px;
	background: $timeline-color;
	position: absolute;
	bottom: 90px;
	left: 44%;
	border-radius: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
	content: '';
	color: $timeline-color;
	width: 2px;
	height: 50px;
	background: $timeline-color;
	position: absolute;
	bottom: -50px;
	left: 50%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
	content: '';
	color: $timeline-color;
	width: 8px;
	height: 8px;
	background: $timeline-color;
	position: absolute;
	top: 90px;
	left: 44%;
	border-radius: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
	position: absolute;
	bottom: 0;
	margin-bottom: 130px;
	width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
	display: table;
	margin: 0 auto;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
	position: absolute;
	margin-top: 60px;
	width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
	display: table;
	margin: 0 auto;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
	text-align: center;
	width: 80%;
	margin: 0 auto;
  
	text-align: left;
	color: #fff;
	margin-bottom: 10px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
	position: absolute;
	bottom: 0;
	margin-bottom: 100px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
	position: absolute;
	margin-top: 35px;
  }
  
  
  
  /* tawing */
  .ps-timeline-sec .container ol:before,
  .ps-timeline-sec .container ol:after {
	  display: none;
	  top: -9px;
	  width: 20px;
	  height: 20px;	
  }
  
  .ps-timeline-sec .container ol.first-item:before {
	  display: block;
  }
  
  .ps-timeline-sec .container ol.last-item:after {
	  display: block;
  }
  
  .ps-timeline-sec{
	  background-color: transparent;
	  width: 100%;
  }
  
  .ps-timeline-sec .container ol.ps-timeline li p {
	  font-size: 13px;
  }
  
  .ps-timeline-sec .container ol.ps-timeline li span {
	  font-size: 1em;
	  line-height: 2.9em;
  }




///////////////////
////////////////////////////////////////////////////
i.timeline-icon {
	font-size: 70px; 
	color: $timeline-color2;
	border: 2px solid $timeline-color2;
	border-radius: 10px;
	padding: 10px;
	background-color: $timeline-color;
}

.ps-timeline-sec .container ol.ps-timeline {
	border-top: 2px solid $timeline-color2;	
}
.ps-timeline-sec .container ol.ps-timeline li span {
	border-color: $timeline-color2;
	background: $timeline-color;
	color: $timeline-color2;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after,
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before,
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after,
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
	color: $timeline-color2;
	background: $timeline-color2;
}

.ps-timeline-sec .container ol.last-item:after,
.ps-timeline-sec .container ol.first-item:before {
    background: $timeline-color2;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-top {
	width: 100%;
}
////////////////////////////////////////////////////
///////////////////

////////////////////////////////////////////////////////////////
// Timeline











