@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



$primaryBg: linear-gradient(to right, #CC00CC 47.02%, #6600FF);
$primaryBtn: linear-gradient(to right, #3F41E2 47.02%, #7917F8);

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	background-color: white;
	letter-spacing: 1px;
}

nav{
	transition: all 0.5s
}

.navbar-nav{
	height: 100vh;
}

.scrollUp{
	transform: translateY(-80px)
}

.btn-black{
	background-color: #000;
    border-color: #000;
}

nav .dropdown-toggle::after {
    display:none;
}

.navbar-collapse {
    position: absolute;
    top: 54px;
    right: -100%;
    width: 100%;
    transition: all 0.4s ease;
    display: block;
   	opacity: 0.8;
}
.navbar-collapse.collapsing {
    height: auto !important;
    right: -100%;
    margin-left: 1px;
    transition: all 0.2s ease;
    opacity: 0.9;
}

.navbar-collapse.show {
    margin-right: 100%;
    transition: all 0.2s ease;
    opacity: 1;
}


.navbar-nav{
	margin-left: 40%;
}

.filter{
	filter: blur(3px);
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}

.bg-black{
	background: black !important;
}

.faq-header{
	padding-top:100px;
}


.btn-BAL{
	background-image: $primaryBtn;
	color: white;
	border-radius: 0.5rem;
	&:hover{
		color: white ;
		font-weight: bolder;
	}
}


.section1{
	height: 100%;
    background-image: url('/images/main-bg.png'), $primaryBg;
    background-size: auto;
    background-position-x: center;
    background-position-y: 0px;
	background-repeat: no-repeat;
	
	.btn{
		padding: 0.375rem 0.25rem;
	}
}

.section3{
	h4{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}



.section5{
	background-color: #F4F9FF;
}

.section6{
	h4{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.section7{
	background-image: $primaryBtn;
}

.section8{
	.card{
		border: 2px solid #7917F8;
	}
	.why-header {
		border-radius: 0px;
		background-image: $primaryBtn;
	}
}


.section9{
	h3, h4{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	.card{
		border: 3px solid #7917F8;
	}
	
	.pricing-header {
		border-radius: 0px;
		background-image: $primaryBtn;
	}

	.nav-link.active{
		background-color: white;
		color: black;
	}

	.nav-link{
		color: white;
	}

	.trial-list {
		list-style: none;
		padding-left: 0px;
	  }
	  
	.trial-list li{
		margin-top: 10px;
	  
	}


	.package-link{
		text-decoration: none;
	}
	.package-one{
		background: url('/images/LightFinder.jpg');
		height: 160px;
		background-size: cover;
	}
	
	.package-two{
		background: url('/images/MyHome.jpg');
		height: 160px;
		background-size: cover;
	}
	
	.package-three{
		background: url('/images/MyTower.jpg');
		height: 160px;
		background-size: cover;
	}
}


.section10-main{
	h3{
		background: $primaryBtn;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.w-50{
	width: 50%;
}

.header-link{
	width: 90%;
}


.share-icons{
	position:absolute;
	top: 94%;
}

.one-icon{
	font-size: 24px;
    color: white;
}



.LightFinder {
	height: 190px;
	background: url('/images/LightFinder.jpg');
    background-size: cover;
}

.MyHome {
	height: 190px;
	background: url('/images/MyHome.jpg');
    background-size: cover;
}

.MyTower{
	height: 190px;
	background: url('/images/MyTower.jpg');
    background-size: cover;

}

.header-phrase{
	font-weight: 500;
	font-size: 3rem;
}


.about-list{
	list-style: none; 
	padding:0px;
}

.about-text{
	font-weight: 900;
}

.about-header {
	height: 30vh;
	background:url('/images/mobile_bg/about_mobile.jpg');
	background-size: cover;
}

.about-contents{
	background:url('/images/HEXAGON.png');
	background-position-x: 380%;
    background-repeat: no-repeat;
    background-size:cover;
}


.section2{
	height: 100%;
}


.section3{
	height: 100%;
}

.section3-contents{
	line-height: 30px;
}




.link-text{
	display: inline-block;
}

.link-icon{
	display: inline-block;
    position: relative;
    top: 1px;
    font-size: 15px;
}

.section5{
	height: 100%;
}




.works-list{
	list-style: none; 
	padding:0px;
}

.works-list li{
	// padding-top: 1rem;
 //    padding-bottom: 1rem;
    // height: 75px;
}

.works-list .step{
    width: 290px;
    padding-left:10px;
}

.works-list .step-icon{
	width: 50px;
    text-align: center;
    border-right: 1px solid white;
    height: 65%;
    font-size:18px;
}

.list-content{
	height: 75px;
}




.section6{
	height: 100%;
	overflow: hidden;
}


.section6 .card-header{
	background-color: black;
}


.section7{
	height: 100%;
}


.section7 .btn-dark{
	background-color:black;
}

.intro{
	height: 30vh;
	background:url('/images/LightFinder.jpg');
	background-size: cover;
}

.intro-package{
	height: 30vh;
	background:url('/images/mobile_bg/packages_mobile.jpg');
	background-size: cover;
}

.intro-why{
	height: 30vh;
	background:url('/images/mobile_bg/why_mobile.jpg');
	background-size: cover;
}

.intro-reasons{
	height: 30vh;
	background:url('/images/mobile_bg/reasons_mobile.jpg');
	background-size: cover;
}

.intro-seller{
	height: 30vh;
	background:url('/images/LightFinder.jpg');
	background-size: cover;
}

.intro-faq{
	height: 30vh;
	background:url('/images/mobile_bg/faq_mobile.jpg');
	background-size: cover;	
}

.intro-addons{
	height: 30vh;
	background:url('/images/mobile_bg/add_ons_mobile.jpg');
	background-size: cover;	
}




.section8 .nav-link{
	font-size: 11px;
}

.card-my-tower{
	width: 100%;
}

.card-my-home{
	width: 100%;
}


.card-trial{
	width: 100%;
}


.card-mini{
	height: 100%;
	width: 100%;
}

.card-standard{
	height: 100%;
	width: 100%;
}

.card-premium{
	height: 110%;
	box-shadow: 0px 0px 10px 0px #545454;
    width: 100%;
}

.section-12-hr{
	background-color: black;
	margin-right: 438px;

}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color: white;
	color: black !important;
}


.trial-list {
  list-style: none;
 
}

.trial-list li{
 margin-top: 10px;

}

.lighting-consultation{
	background:url('/images/IMG3.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: white;
    height: 300px;
}

.lux-calculation{
	background:url('/images/IMG2.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: white;
    height: 300px;

}

.threed-design{
	background: url('/images/IMG1.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: white;
    height: 300px;


}

.section8-container{
	line-height: 30px;
}


.section10{
	background: url('/images/sellers2.png');
	background-size:100%;
}


.section14{
	height: 100%;
}

.section14-contents{
	background: url('/images/mobile_bg/investor_mobile.jpg');
	height: 30vh;
	background-size:cover;
}


.section12{
	height: 100%;
}

 .ieo-coming-soon{
 	background: url('/images/ieo-coming-soon.png');
 	height:100vh;
 	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
 }



.footer-list{
	list-style-type: none;
	padding-left: 0.95rem;
}

.one-link{
	font-size: 15px;
	text-align: center;
}


.reason-content{
	background:url('/images/hexagon.png');
	background-size: cover;
    background-position-x: -140%;
}


.video-section{
	background-color: #f7f7ff;
}

.english {
	height: 120px;
    background: url('/images/english.jpg');
    background-position-x: center;
    background-position-y: -175px;
}

.chinese {
	height: 120px;
    background: url('/images/chinese.jpg');
    background-position-x: center;
    background-position-y: -115px;
	
}


.eupopup-body {
	text-align: justify;
    margin-top: 10px;
}


.nav-backdrop {

	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);	
	display: none;
}

.hide_group {
  display: none !important;
}